@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

/* 1.   Global variables*/
:root {
  scroll-behavior: smooth;
  --color-dark: #35203b;
  --color-primary: #500480;
  --color-white: #ffffff;
  --color-text-gray: hsl(0, 0%, 25%);
  --bg-gradient: linear-gradient(
    90deg,
    #35203b -118.5%,
    var(--color-primary) 100%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.btn {
  border: none;
  min-width: 15px;
  padding: 10px 25px;
  cursor: pointer;
  border-radius: 4px;
  display: inline-block;
}

.btn--primary {
  background-image: var(--bg-gradient);
  color: var(--color-white);
}

.borderButtomHoverFromLeft::after {
  content: "";
  position: absolute;
  background: #500480;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.15rem;
}

.borderButtomHoverFromRight::after {
  content: "";
  position: absolute;
  background: #500480;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 0.15rem;
}

.borderButtomHoverToRight::after {
  transform: scale(0, 1);
  transform-origin: 0% 100%;
  transition: all 0.3s ease;
}

.borderButtomHoverToLeft::after {
  transform: scale(0, 1);
  transform-origin: 0% 100%;
  transition: all 0.3s ease;
}

.slide-left::after {
  transform: scale(0, 1);
  transform-origin: 0% 100%;
  transition: all 0.3s ease;
}

.slide-left:hover::after {
  transform: scale(1, 1);
}

.slide::after {
  content: "";
  position: absolute;
  background: #500480;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.1rem;
}

/* Bubbles Animation STyling */
.bouncing-blob {
  width: 32vw;
  aspect-ratio: 1;
  border-radius: 50%;
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  transform-origin: left top;
}

.bouncing-blob--blue {
  background: #9a8b9a;
}

.bouncing-blob--white {
  background: #ffffff;
  z-index: 2;
  width: 15vw;
}

.bouncing-blob--purple {
  background: #b8b9d1;
}

.bouncing-blob--pink {
  background: rgba(223, 151, 206, 0.31);
}

.bouncing-blobs-container {
  position: fixed;
  z-index: -100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bouncing-blobs-glass {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(140px);
  -webkit-backdrop-filter: blur(140px);
  pointer-events: none;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
