.about-bg {
  margin-top: 4.5rem;
}

.hero-hold {
  display: flex;
  flex-direction: column;
  /* position: relative; */
  background: rgb(217, 217, 217);
  background: radial-gradient(circle, var(--clr-about-gradient1) 0%, var(--clr-about-gradient2) 58%, var(--clr-about-gradient3) 75%);
}

.heroImg {
  display: block;
  margin-top: 4rem;
}

.hero-space {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  text-align: justify;
  padding-inline: 1rem;
  font-weight: var(--fw-medium);
  padding: 1rem;
  color: var(--primary-text-color);
}

.hero-space h1 {
  font-size: var(--fs-lg);
  font-weight: var(--fw-bold);
  text-align: center;
}

.read-more-btn {
  border: 1px solid var(--primary-text-color);
  color: var(--primary-text-color);
  padding: .5rem 1rem;
  position: relative;
  overflow: hidden;
  transition: all 150ms ease-in-out;
  font-family: inherit;
  font-size: var(--fs-sm);
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1rem;
  cursor: pointer;
  z-index: 1;
}

.read-more-btn:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  display: block;
  background-color: var(--primary-text-color);
  transition: all 150ms ease-in-out;
  z-index: -1;
}

.read-more-btn a {
  color: var(--primary-text-color);
}

.read-more-btn a:hover {
  color: var(--body-color);
}

.read-more-btn:hover {
  border: 1px solid var(--primary-text-color);
  color: var(--body-color);
  padding: .5rem 1rem;
  line-height: 1rem;
}

.read-more-btn:hover:before {
  left: 0;
}

.item1 img {
  mix-blend-mode: luminosity;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
  z-index: 100;
}

.popup {
  margin: 70px auto;
  padding: 1rem;
  background: var(--clr-service-list);
  width: 85%;
  /* height: 40rem;
    max-height: 80%; */
  overflow-y: scroll;
  border: 1px solid var(--primary-text-color);
  scrollbar-width: none;
  position: relative;
  border-radius: 5px;
  transition: all 5s ease-in-out;
}

.popup .close {
  position: fixed;
  /* top: 20px;
    right: 30px; */
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: var(--clr-paragraph);
  z-index: 1;
}

.popup .close:hover {
  color: #808080;
}

.hexagon-main {
  width: 90%;
  margin: auto;
  display: flex;
  --s: 130px;
  --m: 5px;
  --f: calc(1.732 * var(--s) + 4 * var(--m) - 1px);
}

.readmore-hexagon {
  position: relative;
  background: var(--clr-secondary-text);
  width: var(--s);
  margin: var(--m);
  height: calc(var(--s)*1.1547);
  display: inline-block;
  align-content: center;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  margin-bottom: calc(var(--m) - var(--s)*0.2);
}

.readmore-hexagon:before {
  content: '';
  position: absolute;
  top: 1.5px;
  left: 2px;
  width: 98%;
  height: 98%;
  background: var(--clr-service-list);
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  z-index: -1;
}

.readmore-hex-content {
  display: flex;
  flex-direction: column;
  color: var(--clr-secondary-text);
  text-align: center;
  font-weight: var(--fw-bold);
  font-size: var(--fs-sm);
}

.readmore-hex-content i {
  font-size: var(--fs-md);
  font-weight: var(--fw-bold);
  padding: 5px;
}

.readmore-hexagon-container:before {
  content: "";
  width: calc(var(--s)/2 + var(--m));
  float: left;
  height: 120%;
  shape-outside: repeating-linear-gradient(#0000 0 calc(var(--f) - 3px),
      #000 0 var(--f));
}

.teams h2 {
  color: var(--primary-text-color);
  font-weight: var(--fw-bold);
  font-size: var(--fs-md);
}

.teamscrol {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: rgba(243, 239, 243, 0.84);
  backdrop-filter: blur(30px);
  z-index: 2;
  padding: 0.5rem;
  border: 1px solid #fff;
}

.teamscrol img {
  width: 15rem;
  height: 15rem;
}

.teamtext {
  font-weight: var(--fw-bold);
  gap: 2rem;
  text-align: center;
}

.person {
  text-align: center;
}

.coreValues {
  display: flex;
  padding: 2rem;
  margin-top: 1rem;
  color: var(--primary-text-color);
}

.coreValues h2 {
  font-size: var(--fs-md);
  font-weight: var(--fw-bold);
  padding-block: 1rem;
  text-align: center;
}

.justify-text {
  text-align: justify;
  padding-bottom: 1rem;
  color: var(--clr-paragraph);
}

.team-carousel-cell {
  width: 66%;
  height: 200px;
}

section.teams {
  text-align: center;
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 50rem;
  margin: auto;
  margin-block: 2rem;
}

.carousel {
  margin-top: 2rem;
}

.carousel-cell.is-selected {
  background: var(--clr-testimonial);
  backdrop-filter: blur(2rem);
  color: var(--primary-text-color);
  opacity: 1;
}

.team-carousel-cell {
  width: 75%;
  height: 200px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2rem);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.3;
}

.team-carousel-cell img {
  border-radius: 5px;
}

.team-carousel-cell h3 {
  color: var(--primary-text-color);
}


.team-carousel-cell p {
  color: #ffffff;
  font-size: var(--fs-sm);
}




#toggle-icon:hover {
  cursor: pointer;
  display: block;
}

@media (min-width: 768px) {
  .team-carousel-cell {
    width: 66%;
    height: 200px;
  }


  .coreValues {
    display: flex;
    padding: 5rem;
    margin-top: 2rem;
    text-align: center;
  }

  .justify-text {
    text-align: center;
    padding-bottom: 2rem;
  }

  .coreValues h2 {
    font-size: var(--fs-lg);
    font-weight: var(--fw-bold);
  }
}

@media (min-width: 1024px) {
  .hero-hold {
    flex-direction: row-reverse;
    height: 90vh;
    gap: 2rem;
    overflow: hidden;
    padding-top: 4rem;
  }

  .hero-space {
    align-items: start;
    flex-basis: 45%;
    padding: 2rem;
  }

  .item2 {
    color: var(--primary-text-color);
  }

  .hero-space h1 {
    font-size: 4rem;
    font-weight: var(--fw-bold);
    text-align: left;
  }

  .item1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}